<script type="text/javascript">
  document.getElementById("book").classList.add("active");
</script>
<body class="page">
  <h1>Book#index</h1>
  <p>Find me in app/views/book/index.html.erb</p>
</body>
