<body class="page">

  <div id="stage" class="stage" >
    <%= image_tag "1.png", class: "display-image" %>
    <%= image_tag "2.png", class: "display-image" %>
    <%= image_tag "3.png", class: "display-image" %>
  </div>

  <script type="text/javascript">
    document.getElementById("home").classList.add("active");
    window.addEventListener(
      "DOMContentLoaded",
      function (e) {
        var stage = document.getElementById("stage");
        var fadeComplete = function (e) {
          stage.appendChild(arr[0]);
        };
        var arr = stage.getElementsByTagName("img");
        for (var i = 0; i < arr.length; i++) {
          arr[i].addEventListener("animationend", fadeComplete, false);
        }
      },
      false
    );
  </script>

  <p>Welcome to Ben's gardens!</p>

</body>
