<body class="home">

  <div id="stage">
    <%= image_tag "garden-1.png", class: "display-image" %>
    <%= image_tag "garden-2.png", class: "display-image" %>
    <%= image_tag "garden-3.png", class: "display-image" %>
  </div>

  <p>Welcome to Ben's gardens!</p>

</body>
