/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  background-color: #9395d3;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

html {
  height: 100vh;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.noHover {
  pointer-events: none;
}

.active {
  background-color: #04aa6d;
}

.logo {
  width: 50px;
  height: 50px;
  padding: 0px;
}

.navbar {
  padding-left: 10%;
  padding-right: 10%;
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  margin: 0;
}

.display-image {
  width: 100%;
}

.home {
  padding-top: 50px;
  width: 80%;
  margin: auto;
  background-color: #4ca0a0;
}
