<header>
  <ul class="navbar">
    <li>
      <a class="logo noHover" href="/">
        <%= image_tag "logo.png", class: "logo" %>
      </a>
    </li>
    <li>
      <%= link_to "Home", "/", id: "home"%>
    </li>
    <li>
      <%= link_to "Book", "/book", id: "book"%>
    </li>
  </ul>
</header>
